<!DOCTYPE html>
<html lang>
<head>
    <title>Categories</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a1825;
}

.button {
  background-color: #ea9308;
  border: none;
  color: white;
  padding: 30px 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

</style>
</head>

<button class="button button1">Technology</button>
<button class="button button2">Food</button>
<button class="button button3">Art</button>
<button class="button button4">Politics</button>
<button class="button button5">Cars</button>
<button class="button button6">Sports</button>
<button class="button button7">Travel</button>
<button class="button button8">News</button>
<button class="button button9">COVID-19</button>
<button class="button button10">Fitness</button>
<button class="button button11">Design</button>
<button class="button button12">Business</button>
<button class="button button13">Hot Topics</button>
<button class="button button14">Celebrities</button>
<button class="button button15">Movies and TV Shows</button>
<button class="button button16">Books</button>
<button class="button button17">Marketing</button>
<button class="button button18">Innovation</button>

</body>
</html>

